/* header start  */
header{
     background-image: url("../img/t4.jpg"); 
    /* background-color: blueviolet; */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar{
    /* padding: 1% 3%; */
    background-color: rgba(0,0,0,0.4);
}

.navbar-icon{
    color: white;
}
.navbar-brand {
    font-size: 1.5rem;
}
.nav-link{
    color: white;
    margin: 5px;
    border-radius: 5px;
    transition: .4s;
}
.nav-link:hover{
   background: #011725 !important;
   color: #f05fcb !important;
   transform: scale(1.1);
}

.banner-container{
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.7);
}
.banner-about{
    height: 55vh;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner-jlist{
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.8);
}

/*.banner-container h1{
    font-size: 3.5rem;
    background-color: rgba(7, 101,189, 0.8);
    padding: 10px 20px;
     font-family: 'Handlee', cursive;
     border-radius: 5px;
    
}
/* header ends  */
/* features starts */

.catagory-col{
    border:1px solid #26ae61;
    border-radius: 5px;
    transition: .4s;
     color: #26ae61;
     background-color: white;
}
.catagory-col:hover{
    transform: scale(1.01);
    color: white;
    background-color: #26ae61;
    border: 1px solid #444;
    box-shadow: 2px 7px 4px #76807a;
}


.icon-style{
    background: white;
    color: #26ae61;
    padding: 15px;
    margin: 5px 0;
    
}
.card-img-top {
    width: 100%;
    height: 17vw;
    object-fit: cover;
}
 .card-help{
    transition: .4s;
}
.card-help:hover{
    transform: scale(1);
    box-shadow: 13px 20px 5px #cdd4d0;
}
.msz-form input {
       border-radius: 20px;
       
      
}
.msz-form textarea{
    border-radius: 15px;
 
    
}
.footer-section{
    background-color: #444;
    color: white;
}

    
     ul.social-network {
        list-style: none;
        display: inline;
        margin-left:0 !important;
        padding: 0;
    }
    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }
    
    .social-network a.icoRss:hover {
        background-color: #F56505;
    }
    .social-network a.icoFacebook:hover {
        background-color:#3B5998;
    }
    .social-network a.icoTwitter:hover {
        background-color:#33ccff;
    }
    .social-network a.icoGoogle:hover {
        background-color:#BD3518;
    }
    .social-network a.icoVimeo:hover {
        background-color:#0590B8;
    }
    .social-network a.icoLinkedin:hover {
        background-color:#007bb7;
    }
    .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
    .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
        color:#fff;
    }
    a.socialIcon:hover, .socialHoverClass {
        color:#44BCDD;
    }
    
    .social-circle li a {
        display:inline-block;
        position:relative;
        margin:0 auto 0 auto;
        /* -moz-border-radius:50%;
        -webkit-border-radius:50%; */
        border-radius:50%;
        text-align:center;
        width: 50px;
        height: 50px;
        font-size:20px;
        background-color: #D3D3D3;
    }
    .social-circle li i {
        margin:0;
        line-height:50px;
        text-align: center;
    }
    
    .social-circle li a:hover i, .triggeredHover {
        /* -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg); */
        transform: rotate(360deg);
        /* -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s; */
        transition: all 0.2s;
    }
    .social-circle i {
        color: #fff;
        /* -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s; */
        transition: all 0.8s;
    }

    ul.info {
        padding-left: 0;
    }
    ul.info li{
        list-style: none;
    }
ul.info a{
    text-decoration: none;
    color: cornsilk;
    font-size: 13px;
    font-weight: bold;
    transition: .3s;
}
ul.info a:hover{
    font-size: 16px;

}